<div class="consumer-container">
  <h1>Active Invoices</h1>
  <div class="invoices-container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col row-id">#</th>
            <th scope="col col-title">Title</th>
            <th scope="col col-received-date">Received Date</th>
            <th scope="col col-dute-date">Due Date</th>
            <th scope="col col-paid">Paid</th>
            <th scope="col col-details">Details</th>
            <th scope="col col-actuibs">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            scope="row"
            *ngFor="let invoice of invoices; index as i"
            (click)="goToInvoice(invoice, invoice.id,$event)"
          >
            <th class="row-index index-{{ i }}">
              {{ i }}
            </th>
            <td class="row-title title-{{ invoice.invoiceName }}">
              {{ invoice.invoiceName }}
            </td>
            <td class="row-received-date">
              {{ invoice.createdAt | date }}
            </td>
            <td class="row-due-date">
              {{ invoice.dueDate | date }}
            </td>
            <td class="row-paid">
              {{ invoice.payed }}
            </td>
            <td class="row-value">
              {{ invoice.price }}
            </td>
            <td class="row-actions">
              <button (click)="pay(invoice.id,$event)" class="btn btn-primary">Pay</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
