<nav class="navbar navbar-expand-lg navbar-light bg-gray" >
  <a
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
          routerLink="/consumer"
          *ngIf="roleMatch(['ROLE_CONSUMER'])"
        >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i
          ><span>Consumer Dashboard</span>
        </a>
        <a
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
        routerLink="/orders"
        *ngIf="roleMatch(['ROLE_CONSUMER'])"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i
        ><span>Orders</span>
      </a>
        <a
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
          routerLink="/provider"
          *ngIf="roleMatch(['ROLE_PROVIDER'])"
        >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i
          ><span>Provider</span>
        </a>
      <a
      class="list-group-item list-group-item-action py-2 ripple"
      aria-current="true"
      routerLink="/history"
      *ngIf="roleMatch(['ROLE_CONSUMER'])"
    >
      <i class="fas fa-tachometer-alt fa-fw me-3"></i
      ><span>History</span>
    </a>
    <a
    class="list-group-item list-group-item-action py-2 ripple"
    aria-current="true"
    routerLink="/create-order"
    *ngIf="roleMatch(['ROLE_PROVIDER'])"
  >
    <i class="fas fa-tachometer-alt fa-fw me-3"></i
    ><span>CREATE</span>
  </a>
  <a
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
          routerLink="/admin"
          *ngIf="roleMatch(['ROLE_ADMIN'])"
        >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i
          ><span>Admin Dashboard</span>
        </a>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">
          Logout
        </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        
    </ul>
  </div>
</nav>
