<div class="invoice-container">
  <h1>{{ invoice.invoiceName }}</h1>
  <br /><br /><br />

  <div class="invoice-box">
    <table>
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <img
                  src="../../assets/images/company-logo.jpg"
                  alt="Company logo"
                  style="width: 100%; max-width: 300px"
                />
              </td>
              <td>
                Invoice #: {{ id }}<br />
                Created: {{ invoice.createdAt }}<br />
                Due: {{ invoice.createdAt }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Sparksuite, Inc.<br />
                12345 Sunny Road<br />
                Sunnyville, TX 12345
              </td>
              <td>
                {{ invoice.invoiceName }}<br />
                {{invoice.userName}}<br />
                {{invoice.userEmail}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="heading">
        <td>Item</td>
        <td>Price</td>
      </tr>
      <tr class="total">
        <td></td>
        <td>{{ invoice.price }}</td>
      </tr>
    </table>
  </div>
</div>
